# While Loop
    When we want to run loop based on some condition/s

In [2]:
# syntax

# while (condition/conditions):
#     code block

In [4]:
# 1, 10 number using while loop

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# counter variable

In [1]:
c = 1
while c<=10:
    print(c)
    c = c + 1

1
2
3
4
5
6
7
8
9
10

In [3]:
c = 1
while c<=10:
    print(c)
    c += 1

1
2
3
4
5
6
7
8
9
10

In [7]:
table = 12
c = 1
while c <= 10:
    print(f'{table} x {c} = {table * c}')
    c += 1

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [9]:
# nested loop:- for loop, for loop, while inside while

In [11]:
i = 2
while i < 21:
    print(f'Table for {i}: ')
    for j in range(1,11):
       print(f'{i} x {i} = {i*j}') 
    i += 1 
    print(end = '\n'*3)

Table for 2:
2 x 2 = 2
2 x 2 = 4
2 x 2 = 6
2 x 2 = 8
2 x 2 = 10
2 x 2 = 12
2 x 2 = 14
2 x 2 = 16
2 x 2 = 18
2 x 2 = 20



Table for 3:
3 x 3 = 3
3 x 3 = 6
3 x 3 = 9
3 x 3 = 12
3 x 3 = 15
3 x 3 = 18
3 x 3 = 21
3 x 3 = 24
3 x 3 = 27
3 x 3 = 30



Table for 4:
4 x 4 = 4
4 x 4 = 8
4 x 4 = 12
4 x 4 = 16
4 x 4 = 20
4 x 4 = 24
4 x 4 = 28
4 x 4 = 32
4 x 4 = 36
4 x 4 = 40



Table for 5:
5 x 5 = 5
5 x 5 = 10
5 x 5 = 15
5 x 5 = 20
5 x 5 = 25
5 x 5 = 30
5 x 5 = 35
5 x 5 = 40
5 x 5 = 45
5 x 5 = 50



Table for 6:
6 x 6 = 6
6 x 6 = 12
6 x 6 = 18
6 x 6 = 24
6 x 6 = 30
6 x 6 = 36
6 x 6 = 42
6 x 6 = 48
6 x 6 = 54
6 x 6 = 60



Table for 7:
7 x 7 = 7
7 x 7 = 14
7 x 7 = 21
7 x 7 = 28
7 x 7 = 35
7 x 7 = 42
7 x 7 = 49
7 x 7 = 56
7 x 7 = 63
7 x 7 = 70



Table for 8:
8 x 8 = 8
8 x 8 = 16
8 x 8 = 24
8 x 8 = 32
8 x 8 = 40
8 x 8 = 48
8 x 8 = 56
8 x 8 = 64
8 x 8 = 72
8 x 8 = 80



Table for 9:
9 x 9 = 9
9 x 9 = 18
9 x 9 = 27
9 x 9 = 36
9 x 9 = 45
9 x 9 = 54
9 x 9 = 63
9 x 9 = 72
9 x 9 = 81
9 x 9 = 90



Table for 10:
10 x 10 = 10
10 x 10 = 20
10 x 10 = 30
10 x 10 = 40
10 x 10 = 50
10 x 10 = 60
10 x 10 = 70
10 x 10 = 80
10 x 10 = 90
10 x 10 = 100



Table for 11:
11 x 11 = 11
11 x 11 = 22
11 x 11 = 33
11 x 11 = 44
11 x 11 = 55
11 x 11 = 66
11 x 11 = 77
11 x 11 = 88
11 x 11 = 99
11 x 11 = 110



Table for 12:
12 x 12 = 12
12 x 12 = 24
12 x 12 = 36
12 x 12 = 48
12 x 12 = 60
12 x 12 = 72
12 x 12 = 84
12 x 12 = 96
12 x 12 = 108
12 x 12 = 120



Table for 13:
13 x 13 = 13
13 x 13 = 26
13 x 13 = 39
13 x 13 = 52
13 x 13 = 65
13 x 13 = 78
13 x 13 = 91
13 x 13 = 104
13 x 13 = 117
13 x 13 = 130



Table for 14:
14 x 14 = 14
14 x 14 = 28
14 x 14 = 42
14 x 14 = 56
14 x 14 = 70
14 x 14 = 84
14 x 14 = 98
14 x 14 = 112
14 x 14 = 126
14 x 14 = 140



Table for 15:
15 x 15 = 15
15 x 15 = 30
15 x 15 = 45
15 x 15 = 60
15 x 15 = 75
15 x 15 = 90
15 x 15 = 105
15 x 15 = 120
15 x 15 = 135
15 x 15 = 150



Table for 16:
16 x 16 = 16
16 x 16 = 32
16 x 16 = 48
16 x 16 = 64
16 x 16 = 80
16 x 16 = 96
16 x 16 = 112
16 x 16 = 128
16 x 16 = 144
16 x 16 = 160



Table for 17:
17 x 17 = 17
17 x 17 = 34
17 x 17 = 51
17 x 17 = 68
17 x 17 = 85
17 x 17 = 102
17 x 17 = 119
17 x 17 = 136
17 x 17 = 153
17 x 17 = 170



Table for 18:
18 x 18 = 18
18 x 18 = 36
18 x 18 = 54
18 x 18 = 72
18 x 18 = 90
18 x 18 = 108
18 x 18 = 126
18 x 18 = 144
18 x 18 = 162
18 x 18 = 180



Table for 19:
19 x 19 = 19
19 x 19 = 38
19 x 19 = 57
19 x 19 = 76
19 x 19 = 95
19 x 19 = 114
19 x 19 = 133
19 x 19 = 152
19 x 19 = 171
19 x 19 = 190



Table for 20:
20 x 20 = 20
20 x 20 = 40
20 x 20 = 60
20 x 20 = 80
20 x 20 = 100
20 x 20 = 120
20 x 20 = 140
20 x 20 = 160
20 x 20 = 180
20 x 20 = 200

In [19]:
i = 2
j = 1
while i <= 20:
    print(f'Table for {i}: ')
    while j <= 10:
        print(f'{i} x {j} = {i*j}')
        j += 1
    i += 1
    j = 1
    print(end = '\n'*3)

Table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20



Table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30



Table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40



Table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50



Table for 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60



Table for 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70



Table for 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80



Table for 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90



Table for 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100



Table for 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110



Table for 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120



Table for 13:
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130



Table for 14:
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140



Table for 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150



Table for 16:
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160



Table for 17:
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170



Table for 18:
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180



Table for 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190



Table for 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [30]:
a = [23,5,45,238,54,70,456,7568]
b = [34,6565,70,3,23,5,54,7]
d = [23,456,63,43,78,54,5457]
c = []

for i in a:
    for j in b:
        for k in d:
            if i == j == k:
                c.append(i)
print(c)

[23, 54]

In [96]:
a = [23,5,45,238,54,70,456,7568]
b = [34,6565,70,3,23,5,54,7]
d = [23,456,63,43,78,54,5457]

In [98]:
set(a).intersection(*(b,d))

{23, 54}

In [102]:
d

[23, 456, 63, 43, 78, 54, 5457]

In [52]:
# [*[b,d]]

In [54]:
a = {'Name':'Mohan'}
b = {'Age':23}
c = {'Class':12}

In [58]:
d = {*a,*b,*c}
d

{'Age', 'Class', 'Name'}

In [86]:
d = [2,3534,64,567]

In [88]:
e = [*d]
e

[2, 3534, 64, 567]

In [90]:
id(e)

1846862026368

In [92]:
id(d)

1846862026368

In [104]:
a = [23,5,45,238,54,70,456,7568]
b = [34,6565,70,3,23,5,54,7]

In [112]:
# help(set(a).intersection(*[]))

In [114]:
# while , pass, break, or continue

In [116]:
# while True: infinite loop

In [124]:
import random
while True:
    comp_choice = random.randint(1,10)
    user = input('Enter number (1-10): ')

    if user.lower() == 'exit':
        print('Bye!! Bye!!')
        break
    else:
        try:
            if 1 <=int(user) <=10:
                user = int(user)
                if user == comp_choice:
                    print('Won!!')
                else:
                    print('Better Luck Next time!!')
            else:
                print('Value Must be b/w 1-10')
        except:
            print('Invalid Input!!')
    display(clear = True)

KeyboardInterrupt

In [126]:
# task,
# Game: 10 GK
# options
# b