In [4]:
data = [1,1,1,2,2,2,2,3,3,3,3,4,54,4,5,6]

data

[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 54, 4, 5, 6]

In [8]:
list(set(data))

[1, 2, 3, 4, 5, 6, 54]

# Loop:- task, Again, Execute
# For Loop
    range():- jana kitna hai
# While Loop:
    condition ke form mein

In [14]:
# others PL
# Do While
# For Each

In [16]:
# # table print 2
# # allowed: datatype_collection :- list, tuple, str, set, dict
# # not allowed:- int, float, complex, True

# for temp_var in datatype_collection:
#     code block

In [18]:
# for temp_var in datatype_collection:
#     code block

In [20]:
# for i in iterables:
#     code block

In [22]:
Students = ['Ankit','Mohan','Karan']

print('Hello Ankit')
print('Hello Mohan')
print('Hello Karan')

Hello Ankit
Hello Mohan
Hello Karan

In [24]:
# DRY:-

In [32]:
import time

Students = ['Ankit','Mohan','Karan','Lucky','Ajay']
for i in Students:
    print(i)
    time.sleep(1)

Ankit
Mohan
Karan
Lucky
Ajay

In [36]:
import time

s = ['Ankit','Mohan','Karan','Lucky','Ajay']
for i in s:
    print(i)
    time.sleep(1)

Ankit
Mohan
Karan
Lucky
Ajay

In [38]:
import time

s = ['Ankit','Mohan','Karan','Lucky','Ajay']
for grastech in s:
    print(grastech)
    time.sleep(1)

Ankit
Mohan
Karan
Lucky
Ajay

In [40]:
# table print
# 2:- 

print('2 x 1 = 2')
print('2 x 2 = 4')
print('2 x 3 = 6')
print('2 x 4 = 8')
print('2 x 5 = 10')
print('2 x 6 = 12')
print('2 x 7 = 14')
print('2 x 8 = 16')
print('2 x 9 = 18')
print('2 x 10 = 20')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [48]:
table = 18
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(f'{table} x {i} = {table*i}')

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

In [54]:
table = 23456
for i in range(1,11):
    print(f'{table} x {i} = {table*i}')

23456 x 1 = 23456
23456 x 2 = 46912
23456 x 3 = 70368
23456 x 4 = 93824
23456 x 5 = 117280
23456 x 6 = 140736
23456 x 7 = 164192
23456 x 8 = 187648
23456 x 9 = 211104
23456 x 10 = 234560

In [56]:
table = 23456
for i in range(2,11,2):
    print(f'{table} x {i} = {table*i}')

23456 x 2 = 46912
23456 x 4 = 93824
23456 x 6 = 140736
23456 x 8 = 187648
23456 x 10 = 234560

In [72]:
table = 23456
for i in range(1,11):
    print(f'{table} x {i} = {table*i}')

23456 x 1 = 23456
23456 x 2 = 46912
23456 x 3 = 70368
23456 x 4 = 93824
23456 x 5 = 117280
23456 x 6 = 140736
23456 x 7 = 164192
23456 x 8 = 187648
23456 x 9 = 211104
23456 x 10 = 234560

In [62]:
# range(start,stop,step/skip)

In [78]:
s = ['Ankit','Mohan','Karan','Lucky','Ajay']
for i in s:
    print('Hello ü§ù',i)

Hello ü§ù Ankit
Hello ü§ù Mohan
Hello ü§ù Karan
Hello ü§ù Lucky
Hello ü§ù Ajay

In [86]:
database = ['Ankit','Mohan','Karan','Lucky','Ajay']
final_database = []

for i in database:
    final_database.append('@'+i.upper())

print(final_database)

['@ANKIT', '@MOHAN', '@KARAN', '@LUCKY', '@AJAY']

In [88]:
# pass, break, continue, else, nested for loop, list comphrension

In [90]:
data = [3,4,32,54,565,635,6,34,645,7,56,3,74645,784,567,67,84,57,468,65,7]

even = []
odd = []

for i in data:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print('Even List: ',even)
print('Odd List: ',odd)

Even List:  [4, 32, 54, 6, 34, 56, 784, 84, 468]
Odd List:  [3, 565, 635, 645, 7, 3, 74645, 567, 67, 57, 65, 7]

In [92]:
data = ['Tata','Adani','Reliance','WIPRO','HCL','InFosyS','GRASTEch']

vowels = []
consonants = []

for i in data:
    if i[0].lower() in 'aeiou':
        vowels.append(i.upper())
    else:
        consonants.append(i.upper())
print(vowels)

['ADANI', 'INFOSYS']

In [94]:
print(consonants)

['TATA', 'RELIANCE', 'WIPRO', 'HCL', 'GRASTECH']

In [96]:
######
######
######
###
###
###

In [153]:
number = 6
symbol = '%'

for i in range(1,number+1):
    if i <= (number//2):
        print(symbol*number)
    else:
        print(symbol*(number//2))

%%%%%%
%%%%%%
%%%%%%
%%%
%%%
%%%

In [139]:
5//2

2

In [155]:
# game number guess

In [179]:
limit = 5
company_collection = 0  
user_collection = 0

import random
import pygame as pg
pg.init()

print('Welcome to MyGame'.center(100,' '))

intro_sound = pg.mixer.Sound(r"C:\Users\salma\Downloads\intro.mp3")
intro_sound.play()

time.sleep(3)

for i in range(1, limit+1):
    company_collection += 10
    comp_choice = random.randint(1,10)
    user_choice = int(input('Enter your choice: (1-10): '))
    
    print(f'Computer choice: {comp_choice}\nUser choice: {user_choice}')

    
    if comp_choice == user_choice:
        print('You Won!!üéáüéá')
        user_collection += 20
        win_sound = pg.mixer.Sound(r"C:\Users\salma\Downloads\Win.mp3")
        win_sound.play()
        company_collection -= 20

    
    else:
        print('You Lose!!üòîüòî')
        user_collection -= 10
        lose_sound = pg.mixer.Sound(r"C:\Users\salma\Downloads\Lose.mp3")
        lose_sound.play()
    print(f'Attemp Left: {limit - i }')

    display(clear = True)

print(f'''User Collection: {user_collection}
Company Collection: {company_collection}''')

User Collection: -20
Company Collection: 30

In [167]:
# pip install pygame