# Advance Function

In [2]:
# Armstrong

In [4]:
# 153

In [6]:
1 **3 + 5**3 + 3**3

153

In [8]:
1674

1**4 + 6**4 + 7**4 + 4**4

3954

In [10]:
def check_armstrong(num):
    pw = len(str(num))

    ans = 0

    for i in str(num):
        ans += int(i)**pw
    if ans == num:
        return 'Armstrong!!'
    else:
        return 'Not an Armstrong!!'

In [22]:
check_armstrong(371)

'Armstrong!!'

In [376]:
def give_fibbo_seq(n = 2):
    if type(n) == int:
        fibbo = [0,1]
        if n == 2:
            return fibbo
        elif n>2:
            for i in range(n-2):
                next_num = fibbo[-1] + fibbo[-2]
                fibbo.append(next_num)
            return fibbo
            
        else:
            return 'Invalid Fibbo Range'
    else:
        return 'Invalid input!!'

In [378]:
print(give_fibbo_seq(34))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578]

In [80]:
# h/w
# Even, odd
# anagram
# give_prime
# give_armstrong
# vowels/Consonants

In [82]:
# args, kwargs, nested func, scope of python
# lambda func

In [84]:
def add_two(a,b):
    return a+b

In [94]:
add_two(10,3)

13

In [96]:
# *args:- ek se jayada arguments

In [104]:
def add(*num):
    return num

In [106]:
add(1,2,34,5)

(1, 2, 34, 5)

In [110]:
# print(3,4,5)

In [112]:
def add(*nums):
    ans = 0
    for i in nums:
        ans += i
    return ans

In [114]:
add_two(1,2)

3

In [120]:
add(34,23,546)

603

In [118]:
sum([34,23,546])

603

In [122]:
# **kwargs

In [130]:
def give_intro(name,age,salary,company_name):
    print(f'My Name is: {name}')
    print(f'My Age is: {age}')
    print(f'My Salary is: {salary}')
    print(f'My Company name is: {company_name.upper()}')

In [132]:
give_intro('Jatin',23,234567,'Tcs')

My Name is: Jatin
My Age is: 23
My Salary is: 234567
My Company name is: TCS

In [135]:
give_intro('Tcs',456789,23,'Mohan')

My Name is: Tcs
My Age is: 456789
My Salary is: 23
My Company name is: MOHAN

In [147]:
give_intro('Komal',age=34,company_name='Komal',salary = 345674)

My Name is: Komal
My Age is: 34
My Salary is: 345674
My Company name is: KOMAL

In [149]:
give_intro('Komal',age=34,company_name='Komal',salary = 345674,bonus = 45)

TypeError: give_intro() got an unexpected keyword argument 'bonus'

In [151]:
# **kwargs

In [153]:
# keyword arguments

In [199]:
def introduce(**kwargs):
    for key,value in kwargs.items():
        if '_' in key:
            print(f'My {key} is {value}'.replace('_',' ').title())
        else:
            print(f'My {key} is {value}'.title())

In [211]:
introduce(name = 'Jatin',Bonus = 34,Company_name = 'Wipro')

My Name Is Jatin
My Bonus Is 34
My Company Name Is Wipro

In [188]:
# def introduce(**kwargs):
#     ans = ''''''
#     for key,value in kwargs.items():
#         if '_' in key:
#             ans += f'My {key} is {value}'.replace('_',' ')+'\n'
#         else:
#             ans += f'My {key} is {value}'+'\n'
#     return ans

In [217]:
# print(print(print()))

In [267]:
def show_db(**kwargs):
    import pandas as pd
    data = kwargs
    if type(data['name']) in [list,tuple]:
        table = pd.DataFrame(data)
    else:
        table = pd.DataFrame(data,index = [1])

    return table

In [271]:
show_db(name = ['Mohan','Daya'],age = [12,13],Class = [7,8],address = ['Delhi','Noida'])

    name  age  Class address
0  Mohan   12      7   Delhi
1   Daya   13      8   Noida

# Nested Func

In [326]:
def a():
    print('I am a')

    def b():
        print('I am b')

        def c():
            print('I am c')
        c()
    b()

    def e():
        print('I am e')
        
    def d():
        print('I am d')

    d(),e(),d()

In [328]:
a()

I am a
I am b
I am c
I am d
I am e
I am d

In [280]:
# b()

In [330]:
# decorator

In [454]:
def home(light):
    print('My Home')
    light()
    print('My Home got Light')

In [447]:
def lgt():
    print('üéáüéá')

def water():
    print('üôèüôè')

In [458]:
home(lgt)

My Home
üéáüéá
My Home got Light