# Pattern printing

In [1]:
# Data Analyst:- Not Much Important
# Logic Building, Interview

In [5]:
n = 5

for i in range(n):
  print('* '*(i+1))

*
* *
* * *
* * * *
* * * * *

In [9]:
n = int(input('Enter number to print start pattern: '))

for i in range(1,n+1):
  print('A '*(i))

Enter number to print start pattern: 6
A
A A
A A A
A A A A
A A A A A
A A A A A A

In [10]:
# A
# A B
# A B C
# A B C D

In [12]:
chr(65+1)

'B'

In [ ]:
# 'A '
# A B

65
65 66
65 66 67
65 66 67 68

In [13]:
n = 5

for i in range(n):
  print('* '*(i+1))

*
* *
* * *
* * * *
* * * * *

In [26]:
n = 10
for i in range(n):
  for j in range(i+1):
    print(chr(65 + j), end = ' ')
  print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J

In [27]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4

In [34]:
n = 5
for i in range(n):
  for j in range(i+1):
    print(j+1, end = ' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [37]:
n = 5
for i in range(n):
  print('* '*(i+1))

*
* *
* * *
* * * *
* * * * *

In [36]:
# * * * * *
# * * * *
# * * *
# * *
# *

In [42]:
n = 5
for i in range(n,0,-1):
  print(i*'* ')

* * * * *
* * * *
* * *
* *
*

In [41]:
n = 5
for i in range(n,0,-1):
  for j in range(i):
    print('*', end = ' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [43]:
n = 5
for i in range(n):
  for j in range(i+1):
    print(chr(65 + j), end = ' ')
  print()

A
A B
A B C
A B C D
A B C D E

In [44]:
# A B C D E
# A B C D
# A B C
# A B
# A

In [45]:
n = 5
for i in range(n,0,-1):
  for j in range(i):
    print(chr(65 + j), end = ' ')
  print()

A B C D E
A B C D
A B C
A B
A

In [48]:
n = 10
for i in range(n):
  for j in range(i+1):
    print(chr(65 + j), end = ' ')
  print()

for i in range(n-1,0,-1):
  for j in range(i):
    print(chr(65 + j), end = ' ')
  print()

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G
A B C D E F G H
A B C D E F G H I
A B C D E F G H I J
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [49]:
n = 5
for i in range(n):
  print('* '*(i+1))

*
* *
* * *
* * * *
* * * * *

In [50]:
#     *
#    * *
#   * * *
#  * * * *
# * * * * *

In [54]:
n = 5
for i in range(n):
  print(' '*(n-i-1) + '* '*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *

In [59]:
n = 5
for i in range(n):
  print(' '*(n-i-1) + '* '*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *

In [75]:
n = 5
for i in range(n-1,-1,-1):
  print(' '*i,end = '')
  for j in range(n-i):
    print('*', end = ' ')
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [89]:
n = 5
for i in range(n-1,-1,-1):
  print('  '*i,end = '')
  for j in range(n-i):
    print(chr(65+j), end = ' ')
  print()

        A
      A B
    A B C
  A B C D
A B C D E

In [91]:
n = 5
for i in range(n-1,-1,-1):
  print(' '*i,end = '')
  for j in range(n-i):
    print(j+1, end = ' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [97]:
n = 5
for i in range(n):
  print(' '*i,end = '')
  for j in range(n-i):
    print('*', end = ' ')
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [104]:
n = 5
for i in range(n-1,0,-1):
  print(' '*i,end = '')
  for j in range(n-i):
    print('*', end = ' ')
  print()

for i in range(n):
  print(' '*i,end = '')
  for j in range(n-i):
    print('*', end = ' ')
  print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [110]:
n=5
for i in range(n-1,-1,-1):
    print(' '*(n-i-1) + '* '*(i+1))

* * * * *
 * * * *
  * * *
   * *
    *

In [111]:
n = 5
for i in range(n-1,0,-1):
  print(' '*i,end = '')
  for j in range(n-i):
    print(chr(65+j), end = ' ')
  print()

for i in range(n):
  print(' '*i,end = '')
  for j in range(n-i):
    print(chr(65+j), end = ' ')
  print()

    A
   A B
  A B C
 A B C D
A B C D E
 A B C D
  A B C
   A B
    A

In [112]:
n = 5
for i in range(n-1,0,-1):
  print(' '*i,end = '')
  for j in range(n-i):
    print(j+1, end = ' ')
  print()

for i in range(n):
  print(' '*i,end = '')
  for j in range(n-i):
    print(j+1, end = ' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1