In [1]:
# Data Analysis

In [2]:
import requests as r

url = '''https://en.wikipedia.org/wiki/The_World%27s_Billionaires'''

response = r.get(url)
print(response)

<Response [200]>

In [3]:
html_data = response.content
# print(html_data)

In [4]:
from bs4 import BeautifulSoup
print('Done')

Done

In [5]:
# pip install beautifulsoup4

In [6]:
soup = BeautifulSoup(html_data)

In [7]:
# print(soup.prettify())

In [8]:
# soup

In [9]:
final_data = []
for index,value in enumerate(soup.find_all('tr')):
    data = value.text.strip().splitlines()
    if 20<=index<=30:
        final_data.append(data)

print('Done')

Done

In [10]:
final_final_data = []

for i in final_data:
    while '' in i:
        i.remove('')
    temp_data = []
    for j in i:
        temp_data.append(j.strip())
    final_final_data.append(temp_data)

print('done')

done

In [11]:
final_final_data[0]

['No.',
 'Name',
 'Net worth (USD)',
 'Age',
 'Nationality',
 'Primary source(s) of wealth']

In [12]:
import pandas as pd

In [13]:
pd.DataFrame(final_final_data[1:],columns=final_final_data[0])

,No.,Name,Net worth (USD),Age,Nationality,Primary source(s) of wealth
0,1,Elon Musk,$342 billion,53,South Africa Canada United States,Tesla and SpaceX
1,2,Mark Zuckerberg,$216 billion,40,United States,Meta Platforms
2,3,Jeff Bezos,$215 billion,61,United States,Amazon
3,4,Larry Ellison,$192 billion,80,United States,Oracle Corporation
4,5,Bernard Arnault & family,$178 billion,76,France,LVMH
5,6,Warren Buffett,$154 billion,94,United States,Berkshire Hathaway
6,7,Larry Page,$144 billion,52,United States,Google
7,8,Sergey Brin,$138 billion,51,United States,Google
8,9,Amancio Ortega,$124 billion,89,Spain,"Inditex, Zara"
9,10,Steve Ballmer,$118 billion,69,United States,Microsoft

In [14]:
print('Done12345')

Done12345